<template name="CT_Read_default">
  {{#with ct.meta}}
    {{#if title}}<h2>{{{title}}}</h2>{{/if}}
    {{#if summary}}<p>{{{summary}}}</p>{{/if}}
    {{#if help}}<small>{{{help}}}</small>{{/if}}
    <hr/>
  {{/with}}

  {{#with item}}
    <table border="1">
      <thead>
        <tr>
          <td>Key</td>
          <td>Label</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        {{#each ct.fields}}
          <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
            <td>{{ctGetFieldValue .. key}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <hr>

    <a href="{{pathFor route=ct.pathTo.update}}" title="{{ct.labels.linkEdit}}">{{ct.labels.linkEdit}}</a>
    &nbsp;|&nbsp;
    <a href="{{pathFor route=ct.pathTo.delete}}" title="{{ct.labels.linkDelete}}">{{ct.labels.linkDelete}}</a>
    &nbsp;|&nbsp;
    <a href="{{pathFor route=ct.pathTo.index}}" title="{{ct.labels.backToIndex}}">{{ct.labels.backToIndex}}</a>
  {{/with}}
</template>
