<template name="CT_update_default_default">
  {{#with meta}}
    {{#if title}}<h2>{{{title}}}</h2>{{/if}}
    {{#if summary}}<p>{{{summary}}}</p>{{/if}}
    {{#if help}}<small>{{{help}}}</small>{{/if}}
    <hr/>
  {{/with}}

  {{#with item}}
    {{> quickForm collection=formCollection id=formId type=formType doc=this}}
  {{/with}}

  <ul>
    {{#with item}}
      {{#if ct.pathTo.read}}
        <li><a href="{{ctPathFor route=ct.pathTo.read _id=_id}}" title="{{ct.labels.linkView}}">{{ct.labels.linkView}}</a></li>
      {{/if}}
      {{#if ctSettingEquals 'deleteType' 'soft'}}
          <li><a href="" class="ct-soft-delete-btn" data-id="{{_id}}" title="{{ct.labels.linkDelete}}">{{ct.labels.linkDelete}}</a></li>
      {{else}}
        {{#if ct.pathTo.delete}}
          <li><a href="{{ctPathFor route=ct.pathTo.delete _id=_id}}" title="{{ct.labels.linkDelete}}">{{ct.labels.linkDelete}}</a></li>
        {{/if}}
      {{/if}}
      {{#if ct.pathTo.create}}
        <li><a href="{{ctPathFor route=ct.pathTo.create _id=_id}}" title="{{ct.labels.linkCreate}}">{{ct.labels.linkCreate}}</a></li>
      {{/if}}
      {{#if ct.pathTo.index}}
        <li><a href="{{ctPathFor route=ct.pathTo.index}}" title="{{ct.labels.backToIndex}}">{{ct.labels.backToIndex}}</a></li>
      {{/if}}
    {{/with}}

    {{#unless item}}
      {{#if ctSettingEquals 'deleteType' 'soft'}}
        <li><a href="" class="ct-restore-btn" data-id="{{itemId}}" title="{{ct.labels.linkRestore}}">{{ct.labels.linkRestore}}</a></li>
      {{/if}}
      {{#if ct.pathTo.create}}
        <li><a href="{{ctPathFor route=ct.pathTo.create _id=_id}}" title="{{ct.labels.linkCreate}}">{{ct.labels.linkCreate}}</a></li>
      {{/if}}
      {{#if ct.pathTo.index}}
        <li><a href="{{ctPathFor route=ct.pathTo.index}}" title="{{ct.labels.backToIndex}}">{{ct.labels.backToIndex}}</a></li>
      {{/if}}
      {{#if ctSettingEquals 'deleteType' 'soft'}}
        <li><a href="{{ctPathFor route=ct.pathTo.archive}}" title="{{ct.labels.backToArchive}}">{{ct.labels.backToArchive}}</a></li>
      {{/if}}
    {{/unless}}
  </ul>
</template>
